.header img{
   height: 150px
}
.header{
    text-align: center;
}

.header nav{
    background-color: black;
    line-height: 35px;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    text-shadow: 5px;
    color: aliceblue;
    margin-right: 20px;
    padding: 5px;
}
nav a:hover{
    background-color: gray;
    font-size: 19px;
    border-radius: 5px;
}